<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ads_Distribute</key>
	<dict>
		<key>Unity</key>
		<integer>50</integer>
		<key>AdMob</key>
		<integer>46</integer>
	</dict>
	<key>GalleryURLs</key>
		<key>BoYuan</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_BoYuan.jpg</string>
		<key>ChiBi</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_ChiBi.jpg</string>
		<key>HanShi</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_HanShi.jpg</string>
		<key>HouChiBi</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_HouChiBi.jpg</string>
		<key>JiZhi</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_JiZhi.jpg</string>
		<key>KuaiXue</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_KuaiXue.jpg</string>
		<key>LanTing</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_LanTing.jpg</string>
		<key>MengDian</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_MengDian.jpg</string>
		<key>QianZiWen</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_QianZiWen.jpg</string>
		<key>ShiTie</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_ShiTie.jpg</string>
		<key>ShuSu</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_ShuSu.jpg</string>
		<key>ZhongQiu</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_ZhongQiu.jpg</string>
		<key>ZiXu</key>
		<string>https://handscrollgallery-1256181689.cos.ap-guangzhou.myqcloud.com/picturescroll_ZiXu.jpg</string>
	<dict/>
	<key>Host</key>
	<dict/>
</dict>
</plist>
